#chat-popout {
  width: 300px;
  max-width: 900px !important;
  min-width: 300px !important;
}

#sidebar-content,
#sidebar-content.expanded {
  max-width: 600px !important;
}

#sidebar-content.expanded {
  width: var(--chatresizer-sidebar-init-size);
}

.chat-sidebar {
  .chat-form {
    gap: 2px;
    padding: 3px;
  }

  .chat-log.scrolled {
    mask-image: unset;
  }
}